size(width, height) {
  width width;
  height height;
}

absolute(left, top) {
  position absolute;
  left: left;
  top: top;
}

absoluteAll(left, top, right, bottom) {
  position absolute
  left: left;
  top: top;
  right: right;
  bottom: bottom;
}
displayFlex(flex-direction, align-items,justify-content){
  display: flex;
  flex-direction: flex-direction;
  align-items align-items;
  justify-content: justify-content;
}


colorText = #343a40;
colorHover = #8994A0;
topMargin = 25px;
botMargin = 55px;
sliderH = 720px;
menuH = 100px;
